@use '../../root' as *;
@use '../../utilities' as *;

.pricing1 {
    position: relative;
    &-card {
        position: relative;
        &-shape1 {
            position: absolute;
            z-index: 1;
        }
        &-shape2 {
            position: absolute;
            z-index: 1;
            bottom: -20px;
            left: 8px;
        }
        &-content {
            position: relative;
            z-index: 9;
            padding: 45px 50px 50px;
            @include breakpoint (max-xsmall){
                padding: 20px 17px 76px;
            }
            // @include breakpoint (max-xxsmall){
            //     padding: 25px 18px 76px;
            // }
            &__title {
                padding-bottom: 10px;
                h5 {
                    color: var(--Text-Colour-Title-Colour, #373A3F);
                    font-family: Raleway;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;   
                    line-height: 40px; /* 133.333% */
                }
            }
            &__desc {
                padding-bottom: 27px;
                @include breakpoint (max-xsmall){
                    padding-bottom: 7px;
                }
                p {
                    color: var(--Text-Colour-Boby-Text, #696969);
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */
                }
            }
            &__btn {
                margin-top: 30px;
                @include breakpoint (max-xsmall){
                    margin-top: 10px;
                }
                span {
                    padding: 18px 110px;
                    border-radius: 8px;
                    border: 1px solid var(--Border-color-border-color1, #D8DDE1);
                    text-align: center;
                    color: var(--Text-color-Body-text-color, #727272);
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; /* 171.429% */
                    text-transform: uppercase;
                    @include breakpoint (max-xxxl) {
                        padding: 18px 105px;
                    }
                    @include breakpoint (max-xsmall){
                        padding: 18px 80px;

                    }
                }
            }            
        }
        &-value {
            position: relative;
            z-index: 9;
            left: 12px;
            padding: 28px 23px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 999px;
            background: $white;
            &__dolar {
                color: var(--Main-color-Theme-color-1, #3CA200);
                font-family: Raleway;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px; /* 127.778% */ 
            }
            &__month {
                color: var(--Text-color-Title-color, #16171A);
                text-align: center;
                font-family: Raleway;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 34px; /* 141.667% */
            }
        }
    }
}