@use '../../root' as *;
@use '../../utilities' as *;

.contact1 {
    position: relative;
    &__shape {
        position: absolute;
        z-index: 1;
    }
    &-info {
        top: 82px;
        position: relative;
        z-index: 9;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 30px;
        @include breakpoint (max-xxl) {
            top: 50px;
        }
        &__icon {
            padding-bottom: 25px;            
        }
        &__numb {
            padding-bottom: 25px;
            color: var(--Default-color-Black, #000);
            font-family: "DM Sans";
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 86.667% */
        }
        &__text {
            padding-bottom: 25px;
            h3 {
                color: var(--Default-color-Black, #000);
                text-align: center;
                font-family: Raleway;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 54px; /* 112.5% */
                text-transform: capitalize;
                @include breakpoint(max-lg) {
                    font-size: 40px;
                    line-height: 40px;
                }
            
                @include breakpoint (max-md) {
                    font-size: 35px;
                } 
            }
        }
        &-btn {
            display: flex;
            gap: 30px;
            &__book {
                a {

                    display: inline-flex;
                    height: 54px;
                    padding: 22px 25px;
                    align-items: center;
                    gap: 8px;
                    flex-shrink: 0;
                    border-radius: 40px;
                    background: var(--Main-color-Theme-Color, #FFB400);
                    color: var(--White, #FFF);
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    i {
                        transform: rotate(-45deg);
                    }
                }
            }
            &__contact {
                a {
                    display: inline-flex;
                    height: 54px;
                    padding: 22px 25px;
                    align-items: center;
                    gap: 8px;
                    flex-shrink: 0;
                    border-radius: 40px;
                    background: var(--Text-color-Title-color, #16171A);
                    color: var(--White, #FFF);
                    font-family: Poppins;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}