@use '../../root' as *;
@use '../../utilities' as *;


// Image 
img {
    max-width: 100%;
    height: auto;
  }
  
  .bg-mask {
    mask-size: cover;
    mask-position: center;
    background-size: cover;
    background-position: center;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
  }
  
  .truncate-text {
    display: block;
    max-height: 56px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    white-space: normal;
    word-break: break-word;
  }
  
  .navigation-controls {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    .nav-item {
      @include flex;
      gap: 5px;
      justify-content: space-between;
      position: relative;
  
      .icon {
          i {               
              font-size: 20px;
              color: $title-color;
          }
      }
      h4 {
        color: $title-color;
        font-family: $title-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; 
        letter-spacing: -0.36px;
        text-transform: uppercase;
      }
    }
  }
  
  
  .preview-area {
    margin-top: 40px;
    @include flex;
    justify-content: space-between;
    border-top: 1px solid rgba(38, 38, 38, 0.20);
    padding: 40px 0 0;
  
    .preview-item {
        @include flex;
        gap: 16px;
        @include breakpoint (max-xsmall) {
          gap: 4px;
        }
  
        .icon {
          display: flex;
          width: 60px;
          height: 60px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 6px;
          border: 1px solid $title-color;
          background: $theme-color;
        }
        .content {
          p {
            color: #262626;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; 
            @include breakpoint (max-md) {
              font-size: 14px;
            }
          }
          h5 {
            font-size: 20px;
            @include breakpoint (max-md) {
              font-size: 16px;
            }
            @include breakpoint (max-xsmall) {
              font-size: 14px;
            }
          }
  
            &.text-right {
                text-align: right;
            }
        }
    }
  }
  
  // Check list
  .checklist {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 10px;
    }
      &__icon {
        padding-right: 8px;
      }
      &__text {
        color: $title-color;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
      }
    }
  }
  
  // Map Section
  .map-container {
    width: 100%;
    height: 380px;
  
    @include breakpoint (md) {
      height: 600px;
    }
    @include breakpoint (xl) {
      height: 700px;
    }
  
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    }
  }
  
  
  .map-container2 {
    width: 100%;
    height: 380px;
  
    @include breakpoint (md) {
      height: 570px;
    }
    @include breakpoint (xl) {
      height: 680px;
    }
  
    iframe {
        width: 100%;
        height: 100%;
        border: 0;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
    }
  }

  
  
  // Global Icon
  .global-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    &__item {
      a {
        display: flex;
        width: 34.886px;
        height: 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 21px;
        border: 1px solid var(--Border-color-border-color1, #D8DDE1);
        background: var(--White-Color, #FFF);

        i {
          color: var(--Main-color-Theme-color-1, #3CA200);
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &:hover {
          background: $white;
        }
      }
    }
  }

  .global-social2 {
    padding-top: 11px;
    display: flex;
    gap: 15px;
    &__item {
      a {
        display: flex;
        width: 34px;
        height: 34px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: $white;
        border: 1px solid $title-color;
        svg {
          path {
            fill: $title-color;
          }
        }
        i {
          color: $black;
        }
        &:hover {
          background: $theme-color;
          border: 1px solid $theme-color;
          svg {
            path {
              fill: $white;
            }
          }
          i {
            color: $white;
          }
        }
      }
    }
  }