@use '../root' as *;
@use '../utilities' as *;


/*----------------------------------------------
    # Title style here
----------------------------------------------*/
 .section-top {
    &__subtitle {
        color: var(--Main-color-Theme-color-1, #3CA200);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        text-transform: uppercase;
        margin-bottom: 12px;
        span {
            padding-right: 8px;
        } 
    }
    &__subtitle2 {
        display: flex;
        justify-content: center;
        gap: 8px;
        
        color: var(--Default-color-White-color, #FFF);
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__title {
        color: var(--Text-color-Title-color, #010F34);
        font-family: Raleway;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px; 
        text-transform: capitalize;
        @include breakpoint (max-xl) {
            font-size: 45px;
            line-height: 50px;
        }
        @include breakpoint (max-md) {
            font-size: 42px;
            line-height: 45px;
        }
        @include breakpoint (max-sm) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    &__title2 {
        color: var(--Default-color-White, #FFF);
        text-align: center;
        font-family: Raleway;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px; /* 112.5% */
        text-transform: capitalize;
    }

    &__desc {
        color: $title-color; 
        font-family: $body-font;  
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;  
    }
    &__desc2 {
        color: var(--BG-color-Smoke-BG-color-1, #FAF8F7);
        text-align: center;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    &__desc3 {
        color: $title-color; 
    }
 }