@use '../../root' as *;
@use '../../utilities' as *;

.blog1 {
    &-card {
        &-one {            
            padding-bottom: 52px;
            position: relative;
            &__thumb {
                border-radius: 20px;
                img {
                    border-radius: 20px;
                    width: 100%;
                }
            }
            &-content {
                position: relative;
                z-index: 5;
                padding: 30px;
                max-width: 555px;
                margin: -206px auto auto;
                border-radius: 20px 20px 0px 0px;
                background: linear-gradient(180deg, #16171A 0%, #3CA200 100%);
                @include breakpoint (max-lg) {
                    padding: 20px;
                    margin: 0px auto auto;
                    max-width: none;
                }
                &__shape {
                    position: absolute;
                    bottom: 10%;
                }
                &-meta {
                    display: flex;
                    align-items: center;
                    display: flex;
                    gap: 17px;
                    padding-bottom: 6px;
                    color: var(--Default-color-White-color, #FFF);
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    @include breakpoint (max-xs) {
                        flex-wrap: wrap;
                        row-gap: 10px;
                    }
                    i {
                        padding-right: 8px;
                    }
                    &__line {
                        width: 1px;
                        height: 14px;
                        background: #D8DDE1;
                    }
                }
                &__title{
                    padding-bottom: 15px;
                    color: var(--Default-color-White, #FFF);
                    font-family: Raleway;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px; /* 141.667% */
                
                    @include breakpoint(max-xl) {
                        font-size: 20px;
                    }
                
                    @include breakpoint (max-md) {
                        font-size: 18px;
                    } 
                }
                &__desc {
                    color: var(--Default-color-White, #FFF);
                    font-family: "DM Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px; /* 162.5% */ 
                    padding-bottom: 30px;               
                }
                &__link {
                    color: var(--Default-color-White-color, #FFF);
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; /* 171.429% */
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    img {
                        padding-left: 10px;
                    }
                }
            }
        }
        &-two {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            &:not(:last-child) {
                margin-bottom: 24px;
            }
            @include breakpoint (max-md) {
               flex-direction: column;
            }
    
            &__thumb {
                margin-right: -45px;
                border-radius: 15px;
                overflow: hidden;
                flex: none;
                img {
                    border-radius: 15px;
                    width: 100%;
                }
                @include breakpoint (max-md) { 
                border-radius: 20px;
                }
            }
            &-content {
                border-radius: 15px;
                background: var(--Default-color-White-color, #FFF);
                box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.08);
                padding: 33px;
                @include breakpoint (max-md) {
                    padding: 20px;
                }
                &-meta {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    padding-bottom: 6px;
                    color: var(--Text-color-Body-text-color, #727272);
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; 
                    @include breakpoint (max-xs) {
                        flex-wrap: wrap;
                        row-gap: 10px;
                    }
                    i {
                        padding-right: 8px;
                        color: $theme-color;
                    }
                    &__line {
                        width: 1px;
                        height: 14px;
                        background: #D8DDE1;
                    }
                }
                &__title{
                    color: var(--Text-Colour-Title-Colour, #373A3F);
                    font-family: Raleway;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 34px; /* 141.667% */
                    padding-bottom: 40px;
                    @include breakpoint (max-md) {
                        padding-bottom: 20px;
                    }
                }
                &__link {
                    color: var(--Main-color-Theme-color-1, #3CA200);
                    font-family: "DM Sans";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; /* 171.429% */
                    letter-spacing: 0.42px;
                    text-transform: uppercase;
                    img {
                        padding-left: 10px;
                    }
                }
            } 
        }
    }
}